.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.alert-box {
  position: fixed;
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-shadow: 0 2 8 rgba(0, 0, 0, 0.26);
  width: 400px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 16px;
  z-index: 101;
}
.alert-box-actions {
  text-align: right;
}
